# Archivos .form generados por el GUIBuilder
*.form

# NetBeans
nbproject/private/
build/
nbactions.xml

# Archivos generados por el sistema operativo
Thumbs.db
Desktop.ini

# Archivos del sistema operativo
.DS_Store